@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFProDisplay";
  font-display: swap;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  line-height: 100%;
  font-weight: normal;
  line-height: 100%;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

img,
svg {
  display: block;
}

textarea {
  resize: vertical;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  font-family: inherit;
}

input,
textarea,
select,
button {
  padding: 0;
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
  font-family: inherit;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

html {
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  scroll-behavior: smooth;
  line-height: 140%;
  font-size: 16px;
  color: #fff;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "SFProDisplay";
  font-size: 16px;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #202020;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
}

.container.small {
  max-width: 936px;
}

.btn {
  font-family: "SFProDisplay";
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 10px;
  border: 2px solid transparent;
  transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, border-color 0.3s ease;
}

.btn:active {
  transform: translateY(2px);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.section-title {
  font-size: 36px;
  font-weight: 400;
  line-height: 140%;
}

.header {
  background: #202020;
  padding: 22px 0;
}

.header__logo {
  flex-shrink: 0;
  width: 230px;
  height: 50px;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.langs-item {
  display: flex;
  align-items: center;
  color: #fff;
}

.langs-item.active {
  font-weight: 700;
}

.langs-item-flag {
  width: 38px;
  height: 25px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 8px;
}

.langs-block {
  margin-left: auto;
  position: relative;
  padding: 8px;
  padding-right: 42px;
}

.langs-block:hover .langs-block-dropdown {
  opacity: 1;
  visibility: visible;
}

.langs-block:hover .langs-block-arrow {
  transform: translateY(-50%) rotate(-180deg);
}

.langs-block-arrow {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.langs-block-dropdown {
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.06), 0px 6px 12px rgba(14, 31, 53, 0.08), 0px 12px 20px rgba(14, 31, 53, 0.06);
  border-radius: 5px;
  position: absolute;
  padding: 8px;
  padding-right: 42px;
  left: 0;
  top: 0;
  background-color: #fff;
}

.langs-block-dropdown .langs-item {
  color: #202020;
}

.langs-block-dropdown .langs-item:not(:last-child) {
  margin-bottom: 15px;
}

.phone-block {
  position: relative;
  padding: 8px;
  padding-right: 26px;
}

.phone-block:hover .phone-block-dropdown {
  opacity: 1;
  visibility: visible;
}

.phone-block:hover .phone-block-arrow {
  transform: translateY(-50%) rotate(-180deg);
}

.phone-block-arrow {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
}

.phone-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 140%;
}

.email-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-decoration: underline;
}

.phone-block-dropdown {
  text-align: right;
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.25s ease-in-out, visibility 0.25s ease-in-out;
  box-shadow: 0px 2px 4px rgba(14, 31, 53, 0.06), 0px 6px 12px rgba(14, 31, 53, 0.08), 0px 12px 20px rgba(14, 31, 53, 0.06);
  border-radius: 5px;
  position: absolute;
  padding: 8px;
  padding-right: 26px;
  right: 0;
  top: -5px;
  background-color: #fff;
}

.phone-block-dropdown .phone-link,
.phone-block-dropdown .email-link {
  color: #202020;
}

.phone-block-dropdown .phone-item {
  padding: 5px 0;
  padding-left: 5px;
}

.phone-block-dropdown .phone-item:not(:last-child) {
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(239, 127, 26, 0.4);
}

.main-section__bg {
  background-color: #000;
  height: 0;
  padding-top: 41.7%;
  position: relative;
}

.main-section-content {
  padding-top: 30px;
  position: absolute;
  left: 0;
  top: 0;
}

.main-title {
  font-weight: 700;
  font-size: 128px;
  line-height: 100%;
  color: #ffffff;
}

.some-list {
  padding: 30px 0;
  display: flex;
  align-items: stretch;
}

.some-list .list-item {
  color: #fff;
  width: 20%;
  padding: 0px 15px;
}

.some-list .list-item__title {
  display: flex;
  gap: 10px;
  margin-bottom: 11px;
  align-items: center;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-transform: uppercase;
}

.some-list .list-item__wrapper {
  padding-bottom: 30px;
  height: 100%;
  border-bottom: 1px solid #ef7f1a;
}

.main-bg-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.main-bg-image img,
.main-bg-image video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-bg-image::before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgba(0, 0, 0, 0.3);
}

.marquee {
  height: 104px;
  background: #ef7f1a;
  overflow: hidden;
}

.marquee__wrapper {
  display: flex;
  padding: 20px 0;
}

.marquee__item {
  margin: 0px 50px;
  width: 720px;
  height: 64px;
}

.marquee__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.marquee__item.small {
  width: 134px;
  height: 64px;
}

.about {
  padding: 100px 0;
}

.about__title {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  margin-bottom: 30px;
}

.about__descr {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 140%;
  max-width: 1230px;
}

.about__row {
  display: flex;
  align-items: stretch;
  margin-right: -15px;
  margin-left: -15px;
}

.about__row .about__col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  width: 33.33%;
  padding: 0px 15px;
}

.about__row .about__col p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.about__col-img {
  width: 100%;
  height: 100%;
}

.about__col-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.form-sction {
  padding: 150px 0;
}

.contacts-form {
  padding: 60px;
  background-color: #ef7f1a;
  color: #fff;
  max-width: 915px;
  width: 100%;
  margin: auto;
}

.form-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 10px;
}

.form-descr {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 50px;
}

.form-inputs {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.form-inputs input {
  width: calc(50% - 30px);
  padding: 5px 16px;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #fff;
  opacity: 1;
}

::placeholder {
  /* Most modern browsers support this now. */
  color: #fff;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.form-footer {
  display: flex;
  align-items: center;
}

.form-btn {
  padding: 16px 32px;
  background-color: #fff;
  color: #ef7f1a;
  font-weight: 500;
  margin-right: 30px;
}

.form-footer-info {
  color: #c2c2c2;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

.footer__wrapper {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.footer__crater {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 30px;
  flex-shrink: 0;
}

.footer__logo {
  flex-shrink: 0;
  width: 230px;
  height: 50px;
  margin-right: 30px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1280px) {
  .main-title {
    font-size: 10vw;
  }

  .about {
    padding: 75px 0;
  }

  .some-list {
    flex-wrap: wrap;
  }

  .some-list .list-item {
    width: 33.33%;
    margin-bottom: 20px;
  }

  .about__descr {
    font-size: 24px;
  }

  .about__title {
    font-size: 36px;
  }

  .about__row {
    flex-direction: column;
    margin: 0;
    gap: 20px;
  }

  .about__row .about__col {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .about__row .about__col .about__col-img {
    flex-shrink: 0;
    width: 33.33%;
  }

  .footer__wrapper {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .footer__crater {
    margin-left: 0px;
  }
}

@media (max-width: 992px) {
  .main-section__bg {
    padding-top: 58%;
  }

  .header__wrapper {
    gap: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 98%;
  }
}

@media (max-width: 768px) {
  .some-list .list-item {
    width: 50%;
  }

  .about {
    padding: 50px 0;
  }

  .langs-item-text,
  .langs-block-arrow {
    display: none;
  }

  .langs-block,
  .langs-block-dropdown,
  .phone-block-dropdown {
    padding-right: 8px;
  }

  .header__wrapper {
    gap: 10px;
  }
}

@media (max-width: 680px) {
  .about__row .about__col .about__col-img {
    display: none;
  }

  .about__row .about__col {
    padding-right: 0;
    padding-left: 0;
  }

  .some-list .list-item {
    width: 100%;
    padding-right: 0;
    padding-left: 0;
  }

  .form-sction {
    padding: 75px 0;
  }

  .form-inputs {
    flex-direction: column;
  }

  .form-inputs input {
    width: 100%;
  }

  .contacts-form {
    padding: 30px;
  }

  .header__logo {
    width: 160px;
  }

  .phone-block {
    width: 42px;
    height: 42px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='32' height='32' rx='16' fill='%23EF7F1A'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.7938 8.04646C10.4076 8.1305 10.3332 8.18878 9.3238 9.1985C8.44293 10.0797 8.3748 10.1558 8.27146 10.375C8.10118 10.7362 8.05868 10.9325 8.04024 11.4432C8.02162 11.9589 8.06374 12.2997 8.21952 12.8929C9.15799 16.4665 13.3645 21.1666 17.3906 23.1401C18.5846 23.7253 19.4861 23.9799 20.375 23.9829C20.9192 23.9847 21.1944 23.9297 21.5715 23.7436C21.8143 23.6238 21.8782 23.567 22.7547 22.6913C23.7363 21.7107 23.795 21.6365 23.9184 21.2209C23.9833 21.0021 23.9833 20.5917 23.9184 20.3729C23.8066 19.9959 23.761 19.9411 22.5195 18.6924C21.8642 18.0333 21.2438 17.434 21.1406 17.3606C20.5206 16.9192 19.7245 16.9804 19.2059 17.5093C19.049 17.6694 18.9886 17.7631 18.8801 18.0149C18.8069 18.1848 18.7091 18.3754 18.6626 18.4384C18.364 18.843 17.7874 19.1006 17.2969 19.0486C16.5657 18.971 15.4747 18.3103 14.5506 17.3854C13.4318 16.2657 12.7719 14.9774 12.9328 14.2271C13.0078 13.8777 13.2531 13.512 13.5431 13.3172C13.614 13.2697 13.7633 13.1919 13.875 13.1443C14.1996 13.006 14.2794 12.9607 14.4301 12.8291C14.9501 12.3748 15.0639 11.5247 14.6854 10.9219C14.574 10.7445 12.4192 8.56421 12.1563 8.36287C11.9467 8.20234 11.6716 8.07871 11.424 8.03371C11.1894 7.99109 11.0339 7.99425 10.7938 8.04646Z' fill='white'/%3e%3c/svg%3e ");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .phone-block > .phone-item {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .footer__info {
    font-size: 12px;
  }

  .form-footer {
    flex-direction: column;
    text-align: center;
  }

  .form-btn {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .form-descr {
    margin-bottom: 30px;
  }

  .marquee {
    height: 85px;
  }

  .marquee__item {
    margin: 0px 15px;
    width: 504px;
    height: 45px;
  }

  .marquee__item.small {
    width: 64px;
    height: 45px;
  }
}

@media screen and (max-width: 380px) {
  .container {
    padding: 0 10px;
  }
}